body{
    overflow-x: hidden;
    background: url(pictures/background.png) repeat;
}

div{
    margin-left: 15%;
}

div#information
{
    padding-left: 19%;
    margin:-50px -50px 0 -5%;
    background-color : rgba(10, 0, 148, 0.75);
    color: white;
}

div.project{
    border:solid rgb(0, 119, 36);
    border-width:4px 8px;
    background-size: 100px auto;
    margin-left: 13%;
    width:1100px;
}

h1,p{
    white-space: nowrap;
}

pre{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/*link*/
a{font-weight: bold}

a:link {
    color: blue;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    text-decoration: underline;
}

/*layout*/
#profile_bg, #profile{
    position: absolute;
}
#profile_bg{
    float:left;
    width:1115px; 
    height:200px;
    top: 135px;
    left:13.2%;
    z-index: -1;
}
#profile_img{
    float:left; 
    width:150px; 
    height:150px;
    padding-top:20px;
    padding-left: 20px;
    z-index: 1;
}

img.project_screenshot_left{
    padding-top:10px;
    padding-left:30px;
    float:left;
}

img.project_screenshot_right{
    padding-top:10px;
    padding-right:30px;
    float:right;
}

div.project:nth-child(odd)
{
    background-color: rgba(127, 255, 212, 0.6);
}

div.project:nth-child(even)
{
    background-color: rgba(250, 156, 140, 0.6);
}

/*contact*/
table.contact{
    margin-top: 20px;
    width:500px;
}

td.contact{
    font-weight: bold;
    font-size: 18px;
}

a.contact{
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
/*bottom picture*/
#ChristmasTree
{
    float: right;
    width: 200px;
    height: 200px;
    margin-left: -200px;
    margin-top: -220px;
    position: absolute;
    z-index: 0;
}
#bottomGround
{
    width: 2000px;
    height: 200px;
    position: absolute;
    margin-left: -10px;
    margin-top: -180px;
    z-index: -1;
}
